#content {
  margin: 0 auto;
  width: 900px;
}

.header {
font: serif;
font-weight: bolder;
}

.byline {
font-style: italic;
  font: serif;
}

p {
  font: Helvetica, Arial, sans-serif;
  font-size: 12px;
}
