#content {
  margin: 0 auto;
  width: 900px;
}

#byline {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
}

#pullquote {
font-weight: bolder;
font-size: 30px;
font-style: italic;
color: black;
margin-top: 15px;
margin-left: 50px;
padding-left: 15px;
border-left: 4px solid #ccc;
}

.h1 {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

.p {
  font-family: Georgia, serif;
  font-size: 13px;
}
