/* styles for my resume */

BODY {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color:#444
  font-weight: 400;
}

#container {
width:100%:
max-width:1200px;
margin:0 auto;

}

#name {
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #33485e;
  width:60%;
  min-width: 300px;
  margin:0 auto;
  color: #33485e
}

#degrees {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#do {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

/* Make the same color as #name */

#title{
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  text-transform: uppercase;
  color: #33485e

}



.sectionheader {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: #fff;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 0;
  margin-left: 0;
  width: 70%;
  min-width: 300px;
}

.jobtitle {
  font-size: 1.5em;
  font-weight: 600;
}

.organization {
  font-size: 1.25em;
  font-weight: 400;
}

.date {
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  margin-top: 2px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.description {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

.center {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center
}

.menu{
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}

.inline{
  display: inline;
  text-align: center;
}

ul {
  font-size: 1em;
}
